<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mapper/VisitorMapper.xml -->
<mapper namespace="com.blog.mapper.VisitorMapper">
	<insert id="insert">
		INSERT INTO visitor_log (ip, url) VALUES (#{ip}, #{url})
	</insert>

	<select id="getLast7Days" resultType="map">
		SELECT DATE(created_at) AS visit_date, COUNT(*) AS count
		FROM visitor_log
		WHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
		GROUP BY DATE(created_at)
		ORDER BY DATE(created_at)
	</select>
</mapper>